 /* el famoso Footer*/
  
/* Extend*/

 footer {
    color: white; }

.footer-bg {
    
    display: block;
    justify-content: block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #020024;
    background: linear-gradient(90deg, #020024 0%, #093576 21%, #090979 37%, #00d4ff 100%);
    @extend footer;
    text-align: center;
    text-size-adjust: 2em;
    
  }

.footer-bg p a {
  @extend footer; }