 /* MEDIA QUERIES */
  
@media screen and (max-width: 760px)  {

#container {
  display: none;
  margin: auto;
  font-size: 8px;
}

.letras {
  display: none;
  margin-left: -100px;
  width: 150%;
}


#container-mobile {
  display: block;
}

ul{
  display: none;
}

input:checked  ~ ul{
  display:block;
}



ul#navbar {
  /* margin: 20px; */
  margin-left: 15px;
  /* padding: 0; */
  list-style: none;
  display: inline-block;
  /* font-size: 11px; */
  vertical-align: bottom;
}

ul#navbar > li > a {
  font-size: 13px;
}


}
